[Unit]
Description=Loki - Log Aggregation System
Documentation=https://grafana.com/docs/loki/latest/
After=network.target

[Service]
Type=simple
User=loki
Group=loki
ExecStart=/usr/local/bin/loki \
    -config.file=/etc/loki/loki.yml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
